 /* ID - único */
    #abner {
      color: blue;
      font-size: 20px;
    }

    /* Classe - vários elementos */
    .alunos {
      color: rgb(183, 42, 3);
    }

    /* Classe adicional */
    .destaque {
      font-weight: bold;
      background-color: lightgray;
      text-align: center;
    }
